
.classpath
.project
.settings
.launch
.tmproj

# logs
stacktrace.log
/test/reports

/target/

# project release file
*.war

# project settings
web-app/settings/settings.properties
web-app/settings/*.properties
