.DS_Store
CHANGELOG.md
Thumbs.db
.classpath
.project
.settings
.launch
.tmproj
.idea
.gradle
*.iml
*.ipr
*.iws
build/


# logs
stacktrace.log
/test/reports

/target/

# project release file
*.war

# project settings
#web-app/settings/settings.properties

todo.txt



