Thumbs.db
CHANGELOG.md
.gradle
.classpath
.project
.settings
.launch
.tmproj
.idea
.gradle
*.iml
/build
Todo.md

# logs
stacktrace.log
/test/reports

/target/

# project release file
*.war

# project settings
web-app/settings/settings.properties

src/main/webapp/backup/greenfield-backup.json
