<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#f8f8f8' >

<table width="100%" cellpadding="10" cellspacing="0" class="backgroundTable" bgcolor='#f8f8f8' >
<tr>
<td valign="top" align="center">

<table width="550" cellpadding="0" cellspacing="0" style="font-family:Arial;">
<tr>
<td style="background-color:#f8f8f8;border-top:0px solid #ddd;border-bottom:0px solid #FFCC66;text-align:right;" align="center"></td>

</tr>

<tr>
<td style="background-color:#FFFFFF;border-top:0px solid #FFFFFF;border-bottom:0px solid #f8f8f8;">
<center><h1>${companyName}</h1></center>
</td>
</tr>

</table>

<table width="550" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
<tr>
<td bgcolor="#FFFFFF" valign="top" style="font-size:12px;color:#333;line-height:1.5;font-family:Arial;">

	<div>
  		
		<div>
			<p style="font-size:17px; line-height:1.5em;text-decoration:none;margin:10px auto 30px auto;">
				<em style="font-size:24px; font-weight:bold;font-style:normal;">Order # ${orderNumber}</em><br/>
			</p>
			
		</div>
	</div>
		<table width="100%">
			<thead>
				<tr>
					<th style="border-bottom:solid 1px #ddd; background:#efefef;padding:4px;">ID</th>
					<th style="text-align:left;border-bottom:solid 1px #ddd; background:#efefef;padding:4px;">Name</th>
					<th style="border-bottom:solid 1px #ddd; background:#efefef;padding:4px;">Price</th>
					<th style="border-bottom:solid 1px #ddd; background:#efefef;padding:4px;">Quantity</th>
					<th style="border-bottom:solid 1px #ddd; background:#efefef;padding:4px;">Extended Price</th>
				</tr>
			</thead>		
			<tbody>
				[[ORDER_DETAILS]]
				<tr>
					<td colspan="4" style="text-align:right;">Subtotal</td>
					<td style="text-align:center;">\$${subtotal}</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right;">Taxes</td>
					<td style="text-align:center;">\$${taxes}</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right;">Shipping</td>
					<td style="text-align:center;">\$${shipping}</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right; font-weight:bold; font-size:14px;">TOTAL</td>
					<td style="text-align:center; font-weight:bold; font-size:17px; padding:7px; font-size:18px">\$${total}</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td>
					<p style="font-size:18px; font-weight:bold;font-style:normal;">Shipping Address</p>
					<p>${transaction.shipName}<br/>
						${transaction.shipAddress1}<br/>
						<%if(transaction.shipAddress2){%>
							${transaction.shipAddress2}<br/>
						<%}%>
						${transaction.shipCity}, 
						
						<%if(transaction.shipState){%>
							${transaction.shipState.name}<br/>
						<%}%>
						${transaction.shipCountry.name}<br/>
						${transaction.shipZip}
						<br/>
						${transaction.account.email}
						<br/>
						<%if(transaction.account.phone){%>
							<em>phone</em>:&nbsp;${transaction.account.phone}<br/>
						<%}%>
						<br/>
					</p>
				</td>
				<td style="width:70px;"></td>
			</tr>
        </table>
		<p>Contact Support : ${supportEmail}</p>
		
	</div>
			
</td>
</tr>


<tr>
<td style="background-color:#f4f4f4;border-top:10px solid #FFFFFF;" valign="top">
<span style="font-size:10px;color:#333333;line-height:1.3em; padding:10px;"><br/></span>
</td>
</tr>


</table>


</td>
</tr>

</table>


</body>
</html>