<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#f8f8f8' >

<table width="100%" cellpadding="10" cellspacing="0" class="backgroundTable" bgcolor='#f8f8f8' >
<tr>
<td valign="top" align="center">

<table width="550" cellpadding="0" cellspacing="0">
<tr>
<td style="background-color:#f8f8f8;border-top:0px solid #ddd;border-bottom:0px solid #FFCC66;text-align:right;" align="center"></td>

</tr>

<tr>
<td style="background-color:#FFFFFF;border-top:0px solid #FFFFFF;border-bottom:0px solid #f8f8f8;">
<center><h1>${companyName}</h1></center>
</td>
</tr>

</table>

<table width="550" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
<tr>
<td bgcolor="#FFFFFF" valign="top" style="font-size:12px;color:#333;line-height:1.5;font-family:Arial;">

	<div>
  		
		<div>
			<p style="font-size:17px; line-height:1.5em;text-decoration:none;margin:10px auto 30px auto;">
				<em style="font-size:17px; font-weight:bold;font-style:normal;">New Registration</em><br/>
			</p>
			<p style="font-size:14px;">
				<em style="font-size:14px; font-weight:bold;font-style:normal;">Username:&nbsp;</em>
				${accountInstance.username}
			</p>
			<p style="font-size:14px;">
				<em style="font-size:14px; font-weight:bold;font-style:normal;">Email:&nbsp;</em>
				${accountInstance.email}
			</p>
		</div>
		
	</div>

</td>
</tr>


<tr>
<td style="background-color:#f4f4f4;border-top:10px solid #FFFFFF;" valign="top">
<span style="font-size:10px;color:#333333;line-height:1.3em; padding:10px;"><br/>
	
</span>
</td>
</tr>


</table>


</td>
</tr>

</table>


</body>
</html>