	<div id="container">
		<div id="header">
			
			<div id="logo-container">
				<a href="/[[CONTEXT_NAME]]/" id="logo"> </a>
			</div>
			
			<div id="header-content">
				<div id="top-section">
					<div class="section">
						<strong>Suited Spades Gift Shop</strong>
						<br/>1000 Main Street
						<br/>Henderson, NV 89002
					</div>
					<div class="section">
						<strong>Store Hours</strong>
						<br/>9am to 9pm Mon-Sat
						<br/>10am to 6pm Sundays
					</div>
					<div class="section">
						<strong>Phone:</strong> (800) 543-8765
					</div>
					<div class="section">
					</div>
					<br class="clear"/>
				</div>
				<div id="bottom-section">

					<a href="/[[CONTEXT_NAME]]/shoppingCart" id="shopping-cart"></a>
					<div id="searchbox-container">
						[[SEARCH_BOX]]
					</div>
					<br class="clear"/>
				</div>
			</div>
			<!-- end of header-content-->
			<br class="clear"/>
		</div>
		
		<div id="navigation-container">
			<div id="navigation">
				<a href="/[[CONTEXT_NAME]]/page/store_view/Home">Home</a>
				<a href="/[[CONTEXT_NAME]]/page/store_view/About Us">About Us</a>
				<a href="/[[CONTEXT_NAME]]/page/store_view/Privacy Policy">Privacy Policy</a>
				<a href="/[[CONTEXT_NAME]]/page/store_view/Contact Us">Contact Us</a>
				[[ACCOUNT]]
				[[LOGOUT]]
				[[LOGIN]]
				[[REGISTER]]
			</div>
		</div>
		
		
		<div id="product-navigation">
			<h3>Deluxe Casino Gifts</h3>
			[[CATALOGS]]
			[[CATALOG_FILTERS]]
		</div>
		
		
		<div id="content">
			[[CONTENT]]
		</div>	
		
		<br class="clear"/>
	</div>
	
	<div id="footer">
		<div id="copy">
			&copy; 2017 Suited Spade's Gift Shop
			<br/>
			[[ADMIN_LINK]]
		</div>
		<div id="powered">
			powered by <a href="http://www.opengreenfield.org" target="_blank"><strong>Greenfield</strong></a>
		</div>
	</div>

	<br class="clear"/>