<!DOCTYPE html>
<html lang="en">
<head>
	<!--//
		
		This file serves as a wrapper for store content, edit or create with caution 
		
		STORE_LAYOUT : renders the layout defined for the specific page
		STORE_CSS : renders store css defined within a layout
		STORE_JAVASCRIPT : renders javascript defined within a layout 
		
	-->
	<title>[[TITLE]]</title>
	<meta name="keywords" content="[[META_KEYWORDS]]">
	<meta name="description" content="[[META_DESCRIPTION]]">
	
	<link rel="shortcut icon" type="image/png" href="/[[CONTEXT_NAME]]/images/favicon.png"/>
	
	<script src="/[[CONTEXT_NAME]]/js/lib/jquery/1.11.0/jquery.js"></script>
	<script src="/[[CONTEXT_NAME]]/js/lib/jquery-ui/1.11.2/jquery-ui.js"></script>
	<script src="/[[CONTEXT_NAME]]/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/[[CONTEXT_NAME]]/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/[[CONTEXT_NAME]]/css/app.css" type="text/css">
	<link rel="stylesheet" href="/[[CONTEXT_NAME]]/css/store.css" type="text/css">
	
	<style type="text/css">
		[[STORE_CSS]]
	</style>
</head>
<body>
	

<!--The layout engine inserts page layout here, splits on CONTENT and renders tags-->
[[STORE_LAYOUT]]


<script>
	[[STORE_JAVASCRIPT]]
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '[[GOOGLE_ANALYTICS]]', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>